body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(90, 90, 255), rgb(163, 40, 60));
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px black;
    width: 280px;
}
#display{
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    padding: 10px;
    background-color: rgb(221, 225, 230);
    border-radius: 10px;
    text-align: right;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 5px rgb(35, 32, 32);
    font-size: 24px;
    border: none;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
button:nth-child(n){
    background-color: rgb(35, 32, 32);
}
button:nth-child(4n){
    background-color: brown;
}
button:nth-child(13){
    background-color: rgb(121, 0, 0);
}
button:nth-child(15){
    background-color: rgb(121, 0, 0);
}
button:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
button:active{
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}